#view_bt .content-region {
    margin-top: 15%;
}

#view_bt .panel-region {
    background-color: rgba(51, 51, 51, 0.7);
}

.top-icon {
    font-size: 2rem;
}

.bt-list-region {
    margin-left: 5%;
    margin-right: 5%;
    overflow-y: auto;
    height: 92%;
}

.bt-list-region::-webkit-scrollbar {
    display: none;
}

.bt-list-element .row {
    padding: 0;
}

.bt-list-element .col-10 {
    padding-left: 0.8rem;
    font-size: 0.8em;
}

.bt-list-info {
    right: 0.65rem;
    text-align: center !important;
}

.bt-list-seperator {
    margin-top: -0.1rem;
    margin-bottom: 0.6rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    background-color: rgba(204, 204, 204, 0.5);
}

.bt-paired {
    color: #61ABFF; /* bootstrap text-primary */
}

.align-middle span {
    position: relative;
    top: 0.3rem;
}

.col-2.bt-list-info {
    padding-left: 0;
    padding-right: 0;
}

.bt-list-info img {
    width: 100%;
}

.bt-icon {
    max-width: 50% !important;
}

.bt-unknown {
    color: #888888;
}